<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"  lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'block</title>
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
</head>
<body class="body1">
<div class="review-wrap">
       <div class="nav">
             <div class="menu-wrap">
                <a href="#home" >
                    <div class="logo">
                        O'block gram
                    </div>
                </a>
                 <div class="menu">
                     <a href="#home">
                         <div>
                             <div class="menu-item active">
                             Home
                             </div>
                         </div>
                     </a>
                 <a class="#about">
                   <div class="menu-item">
                       About
                   </div>
                </a>
                <a class="#contacts">
                    <div class="menu-item">
                        Contacts
                    </div>
<!--                </a><a class="#log-out" th:href="sign-up" th:action="@{/logout}">-->
<!--                    <div class="menu-item">-->
<!--                        Log out-->
<!--                    </div>-->
                </a>
                 </div>
             </div>
        </div>
</div>
</body>
</html>