<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" th:href ="@{/form-stylesheet.css}">
</head>
<body>
<div class="container">
    <h2>O'block gram</h2>
    <form method="post" th:object="${user}" th:action="@{/submitItem}">
        <p style=" color:red" th:errors="*{firstName}"></p>
        <input type="text" placeholder="First Name" th:field="*{firstName}">
        <p style="color:red" th:errors="*{lastName}"></p>
        <input type="text" placeholder="Last Name" th:field="*{lastName}">
        <p style="color:red" th:errors="*{UserName}"></p>
        <input type="text" placeholder="User name" th:field="*{userName}">
        <p style="color:red" th:errors="*{email}"></p>
        <input type="text" placeholder="Email" th:field="*{email}">
        <p style="font-weight:bold">Date of Birth</p>
        <p style="color:red" th:errors="*{dateOfBirth}"></p>
        <input type="date" th:field="*{dateOfBirth}" > <br><br>
        <input type="submit" value="Submit">
<!--        <p > Already a member ? <a style="color:black" th:href="login ">Login</a></p>-->
    </form>
</div>
</body>
</html>






